/* Base body styles */
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Josefin Slab', YuGothic, 'Yu Gothic', sans-serif;
	color: #000;
	font-size: 13px;
	letter-spacing: 0.2em;
	line-height: 1.5;
	min-height: 100vh;
	background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

/* Link styles */
a { text-decoration: none; }
a:link { color: #990066; }
a:visited { color: #996666; }
a:hover, a:active { color: #996666; }

/* Container styles */
#root {
	margin: 50px auto;
	padding: 25px;
	width: 900px;
	background: #fff;
	box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
	            0 5px 6.1px rgba(0, 0, 0, 0.076),
	            0 10.1px 11.4px rgba(0, 0, 0, 0.086),
	            0 19.2px 19.8px rgba(0, 0, 0, 0.092),
	            0 38.4px 34.8px rgba(0, 0, 0, 0.1),
	            0 101px 74px rgba(0, 0, 0, 0.13);
}

/* Text alignment */
#center, #title, #subtitle {
	text-align: center;
}

#center {
	margin: 0 auto;
	overflow: hidden;
	background: #ffffff;
	padding: 25px;
	box-sizing: border-box;
}

#header { margin: 0 0 10px; }

/* Titles and subtitles */
#title, #subtitle {
	font-family: 'Josefin Slab', YuGothic, 'Yu Gothic', sans-serif;
	margin: 15px auto;
	padding: 0;
	font-size: 20px;
	letter-spacing: 0.2em;
	text-align: center;
}

#subtitle { margin: 10px auto 20px; font-size: 15px; }

/* Alignment for application and gallery sections */
.app, .gallery { text-align: center; }

/* Gallery display properties */
.gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

/* Image styling */
img {
	margin: 8px;
	max-width: 100%;
	height: auto;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s; /* Fade in animation for the modal */
}

/* Keyframes for fade in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Modal content styling */
/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s; /* Fade in animation for the modal */
}

/* Keyframes for fade in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Modal content styling */
.modal-content {
	background: white;
	padding: 10px;
	height: 600px; /* Set the height of the modal content */
	overflow: auto; /* Allows scrolling if content exceeds the modal size */
	transition: transform 0.5s ease-out; /* Smooth transform transition */
	display: flex; /* Ensures content is flexibly laid out */
	align-items: center; /* Vertically center content in the modal */
	justify-content: center; /* Horizontally center content */
}

/* Style to scale up the modal content when it's opened */
.modal-content.open {
	transform: scale(1.05); /* Slightly increase the size when opened */
}

/* Styling for images within the modal to fit the modal size */
.modal-content img {
	max-height: 98%; /* Slightly less than modal to account for padding */
	width: auto; /* Maintain aspect ratio */
	object-fit: contain; /* Ensures the image is scaled properly within the constraints */
}


/* Pagination styling */
.pagination {
	align-self: center;
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.pagination a {
	margin: 0 5px;
	font-size: 15px;
	display: inline-block;
}

@media (max-width: 768px) {
    #root {
        width: auto;
        margin: 10px;
        padding: 10px;
    }

    .clip {
        width: 119px !important;
    }
    .gallery img {
        flex-direction: colmn;
    }
	
    .gallery img {
        width: 100%;
    }

    .modal-content {
        width: 500px;
        height: auto;
    }
}

