body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Josefin Slab', YuGothic, 'Yu Gothic', sans-serif;
	color: #000;
	font-size: 13px;
	letter-spacing: 0.2em;
	line-height: 1.5;
	min-height: 100vh;
	background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

a {
	text-decoration: none;
}

a:link {
	color: #990066;
}

a:visited {
	color: #996666;
}

a:hover, a:active {
	color: #996666;
}

#root {
	margin: 50px auto;
	padding: 25px;
	width: 900px;
	background: #fff;
	box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
				0 5px 6.1px rgba(0, 0, 0, 0.076),
				0 10.1px 11.4px rgba(0, 0, 0, 0.086),
				0 19.2px 19.8px rgba(0, 0, 0, 0.092),
				0 38.4px 34.8px rgba(0, 0, 0, 0.1),
				0 101px 74px rgba(0, 0, 0, 0.13);
}

#center {
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	background: #ffffff;
	padding: 25px;
	box-sizing: border-box;
}

#header {
	margin: 0 0 10px;
}

#title, #subtitle {
	font-family: 'Josefin Slab', YuGothic, 'Yu Gothic', sans-serif;
	margin: 20px auto 0;
	padding: 0;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.2em;
}

#subtitle {
	margin: 10px auto 20px;
	font-size: 14px;
}

.app, .gallery {
	text-align: center;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjusts the alignment of items on the line */
}

img {
    width: 100%; /* Makes image responsive within its container */
    height: auto;
    display: block; /* Removes extra space below the image */
}

.modal-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.pagination {
    align-self: center; /* Center pagination horizontally */
    width: 100%; /* Full width of the gallery */
    padding: 10px 0; /* Padding above and below pagination */
    display: flex;
    justify-content: center; /* Center the pagination links */
}

.pagination a {
    cursor: pointer;
    margin: 0 5px; /* Space between pagination links */
    font-size: 15px;
    display: inline-block; /* Align links in a row */
}
